<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a Index</title>
</head>
<body>
    <h2>Hi i'm a test template</h2>
    <p>el nombre del programador es :  {{nombre_persona}} {{apellido_persona}}  </p>
    <p>la hora es : {{hora_actual.day}}/{{hora_actual.month}}/{{hora_actual.year}} </p>
     <!--<p> {{temas.0}} </p>  accediendo a un indice de la lista dentro del dicconario del contexto -->
    {% comment %} la llamada de metos en django no se usan los () {% endcomment %}

     <p> temas del curso:</p>

    <p>
        <ul>
        {% if temas %}
        {% for tema in temas %}
        
            <li><p>{{tema | first | lower}}</p></li>
            {% comment %} template filters de django {% endcomment %}
        
        {% endfor %}
        {% else %}
            <p>no hay elementos que mostrar </p>
        {% endif %}
        </ul> 
    </p>

</body>
</html>