<!DOCTYPE html>
<html lang="en">

<style>
    #barra{
        display: flex;
        list-style: none;
        padding: 0px;
        text-transform: uppercase;

    }

    #barra li {
        margin-right: 20px


    }

</style>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dom</title>
</head>
<body>
    <ul id="barra">
       <li>Home</li>
       <li>Servicios</li>
       <li>Nosotros</li>
       <li>Contacto</li>
    </ul>
    
</body>
</html>